#### Homework 4

In [13]:
# 1. Write a Python script to sort (ascending and descending) a dictionary by value.
dict_1 = {'book'    : 'kitob',
          'paper'   : "qog'oz",
          'pen'     : 'ruchka',
          'pencil'  : 'qalam',
          'bag'     : 'sumka',
          'eraser'  : "uchirg'ich"
          }

ascending = sorted(dict_1.values())
descending = sorted(dict_1.values(), reverse=True)

print(ascending)
print(descending)

['kitob', 'qalam', "qog'oz", 'ruchka', 'sumka', "uchirg'ich"]
["uchirg'ich", 'sumka', 'ruchka', "qog'oz", 'qalam', 'kitob']

In [38]:
# 2. Write a Python script to add a key to a dictionary.

dict_2 = {0: 10, 
          1: 20
          } 

dict_2.update({2:30})

dict_2

{0: 10, 1: 20, 2: 30}

In [42]:
# 3. Write a Python script to concatenate the following dictionaries to create a new one.
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

dict_4 = {}
dict_4.update(dic1)
dict_4.update(dic2)
dict_4.update(dic3)

dict_4

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# 4. Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
n = 5
dic_new = {x : x*x
           for x in range (1, n+1)
           }

dic_new

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [88]:
# 5. Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys
n=15

dic_5 = {x : x*x
         for x in range (1, n+1)
         }
dic_5

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [ ]:
# 6. Write a Python program to create a set.

set_6 = {1, 7, 11, 25, 'yes', 66.34, 'No', True, 112, False}

set_6

{1, 11, 112, 25, 66.34, 7, False, 'No', 'yes'}

In [67]:
# 7. Write a Python program to iterate over sets.

set_7 = {4, 7, 17, 35, 'Ok', 66.34, 'No', True, 112, False}

for set_7 in set_7:
    print(set_7)

False
True
66.34
35
4
Ok
7
No
112
17

In [70]:
# 8. Write a Python program to add member(s) to a set.

set_8 = {4, 11, 27, 45, 'BOM', 51.34, 'Nono', True, 212, False}
set_8_1 = {22, 37, 'Demo'}

set_8.add(55)
set_8.update(set_8_1)
set_8

{11, 212, 22, 27, 37, 4, 45, 51.34, 55, 'BOM', 'Demo', False, 'Nono', True}

In [83]:
# 9. Write a Python program to remove item(s) from a given set.

set_9 = {11, 212, 22, 27, 37, 4, 45, 51.34, 55, 'BOM', 'Demo', False, 'Nono', True}

set_9.pop()
set_9.remove(45)

set_9

{11, 212, 22, 27, 37, 4, 51.34, 55, 'BOM', 'Demo', 'Nono', True}

In [82]:
# 10. Write a Python program to remove an item from a set if it is present in the set.

set_10 = {9, 212, 24, 27, 37, 4, 26, 51.34, 55, 'BOM', 'Demo', False, 'Nono', True}

if 27 in set_10:
    set_10.remove(27)

set_10

{212, 24, 26, 37, 4, 51.34, 55, 9, 'BOM', 'Demo', False, 'Nono', True}