#### Homework - 3

In [14]:
# 1. Create a list containing five different fruits and print the third fruit.

fruits = ['apple', 'orange', 'banana', 'grape', 'leamon']

print(fruits[3])

grape

In [15]:
# 2. Create two lists of numbers and concatenate them into a single list.

list_1 = [1, 3, 5, 7, 9]

list_2 = [2, 4, 6, 8, 10]

list_1.extend(list_2)       # 


print(list_1)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [124]:
# 3. Given a list of numbers, extract the first, middle, and last elements and store them in a new list.

num_3 = [5, 14, 22, 36, 41, 57, 62, 73, 88, 93]

first_ = num_3[0]
last_= num_3[-1]

#middle_index=len(num_3)//2
#middle_index
#middle_= num_3[middle_index]
#middle_

middle_= num_3[len(num_3)//2]

new_list = [first_, middle_, last_]

new_list

[5, 57, 93]

In [168]:
# 4. Create a list of your five favorite movies and convert it into a tuple.

movies = ["Titanic", "Troy", "King of rings"]

my_tuple = tuple(movies)

my_tuple

('Titanic', 'Troy', 'King of rings')

In [90]:
# 5. Given a list of cities, check if "Paris" is in the list and print the result

cities = ['London', 'Baku', 'Paris', 'Madrid']

if 'Paris' in cities:
    print('Paris is in the list')

Paris is in the list

In [74]:
# 6. Create a list of numbers and duplicate it without using loops.

list_6= [6, 16, 26, 36, 46]

list_6 + list_6

[6, 16, 26, 36, 46, 6, 16, 26, 36, 46]

In [65]:
# 7. Given a list of numbers, swap the first and last elements.

list_num = [7, 13, 24, 37, 48, 55, 62]

swap_ = list_num[0]

list_num[0] = list_num[-1]

list_num[-1] = swap_

list_num

[62, 13, 24, 37, 48, 55, 7]

In [176]:
# 8. Create a tuple of numbers from 1 to 10 and print a slice from index 3 to 7.

num_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print(num_tuple[3:7])

(4, 5, 6, 7)

In [120]:
# 9. Create a list of colors and count how many times "blue" appears in the list.

colors = ['blue', 'red', 'orange', 'black', 'blue', 'white', 'red']

colors.count('blue')

2

In [185]:
# 10. Given a tuple of animals, find the index of "lion".

animals = ('monkey', 'tiger', 'lion', 'wolf')

animals.index('lion')

2

In [184]:
# 11. Create two tuples of numbers and merge them into a single tuple.

num_tuple_1 = (2, 4, 6, 8)

num_tuple_2 = (1, 3, 5, 7)

num_tuple_1 += num_tuple_2

num_tuple_1

(2, 4, 6, 8, 1, 3, 5, 7)

In [ ]:
# 12. Given a list and a tuple, find and print their lengths.

letters_list = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'o']

letters_tuple = ('q', 'w', 's', 'x', 'z', 'm', 'y', 'p')

print(len(letters_list))

print(len(letters_tuple))

14
8

In [204]:
# 13. Create a tuple of five numbers and convert it into a list.

nume_tuple_13 = (13, 25, 36, 41, 58)

new_list = list(nume_tuple_13)

new_list

[13, 25, 36, 41, 58]

In [202]:
# 14. Given a tuple of numbers, find and print the maximum and minimum values.

num_tuple_1 = (2, 4, 6, 8, 1, 3, 5, 7)

print(max(num_tuple_1))
print(min(num_tuple_1))

8
1

In [203]:
# 15. Create a tuple of words and print it in reverse order.

words = ('mother', 'father', 'brother', 'sister')

print(words [::-1])

('sister', 'brother', 'father', 'mother')