#### Homework - 6

In [346]:
# 1. Given a string txt, insert an underscore (_) after every third character. If a character is a vowel or already has an underscore after it, 
        # shift the underscore placement to the next character. No underscore should be added at the end.
                # Input: hello Output: hel_lo

txt = "adadsapadsjlpof"
result = ""
for i in range(len(txt)):
    result += txt[i]
    if (i + 1) % 3 == 0 and i != len(txt) - 1:
        result += "_"
print(result)

ada_dsa_pad_sjl_pof

In [35]:
# 2. The provided code stub reads an integer, n, from STDIN. For all non-negative integers i where 0 <= i < n, print i^2.

n = int(input('Son kiriting'))

for i in range(n):
    if 0 <= i <= n:
        print(i**2)

0
1
4
9
16

In [4]:
# 3. Exercise 1: Print first 10 natural numbers using a while loop

num1 = 1
num2 = 10

while num1 <= num2:
    print(num1)
    num1 +=1

1
2
3
4
5
6
7
8
9
10

In [347]:
# Exercise 2: Print the following patters
"""
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
"""

rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [78]:
# Exercise 3: Calculate sum of all numbers from 1 to a given number
st_num = 1
ent_num = 10

sum(range(st_num, ent_num + 1))

55

In [110]:
# Exercise 4: Print multiplication table of a given number

first_num = 1
given_num = 2

while first_num <=10:
    print(first_num * given_num)
    first_num += 1

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Exercise 5: Display numbers from a list using a loop
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
    if i <= 50:
       continue
    if i > 150:
        continue     
    print(i)

75
150
145

In [164]:
# Exercise 6: Count the total number of digits in a number

number = 75869
count = 0

while number > 0:
    number //= 10
    count +=1
print(count)

5

In [235]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
# Exercise 7: Print reverse number pattern
"""5 4 3 2 1
4 3 2 1
3 2 1
2 1
1"""

rows = 5
for i in range(rows, 0, -1):       
    for j in range(i, 0, -1):      
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
# Exercise 8: Print list in reverse order using a loop

list1 = [10, 20, 30, 40, 50]
rever_list1 = reversed(list1)

for i in rever_list1:
    print(i)

50
40
30
20
10

In [174]:
# Exercise 9: Display numbers from -10 to -1 using a for loop

for i in range(-10, -0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [9]:
# Exercise 10: Display message “Done” after successful loop execution

st = 0
end = 5

while st < end:
    print(st)
    st +=1
else:
    print('Done!')

0
1
2
3
4
Done!

In [ ]:
import math

x = math.sqrt(64)

In [183]:
# Exercise 11: Print all prime numbers within a range

for i in range (25, 50):
    if i % 2 !=0:
        if i % 3 !=0:
            if i % 5 !=0:
                if i % 7 !=0:
                    print(i)

29
31
37
41
43
47

In [207]:
# Exercise 12: Display Fibonacci series up to 10 terms
"""Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34"""
n1 = 0
n2 = 1
terms = 10

for i in range (10):
    print(n1, end = ' ')
    n1, n2 = n2, n1 + n2

0 1 1 2 3 5 8 13 21 34

In [191]:
# Exercise 13: Find the factorial of a given number

import math

print(math.factorial(5))

120

In [ ]:
# 4. Return Uncommon Elements of Lists

list1 = [1, 1, 2] 
list2 = [2, 3, 4]
[x for x in list1 if x not in list2] + [y for y in list2 if y not in list1]

[1, 2, 3, 4, 5, 6]